COMPOSE_PROJECT_NAME=cube-demos
POSTGRES_DB=finance
POSTGRES_USER=cube
POSTGRES_PASSWORD=cube_local_password
POSTGRES_PORT=55432
CUBE_PORT=4000
CUBEJS_API_SECRET=local-development-secret
CUBE_SQL_PORT=15432
CUBE_SQL_USER=cube
CUBE_SQL_PASSWORD=cube_sql_password
